
.container {
  max-width: 758px; }

.b-header__wrapper {
  background: url(../images/header-bg.png) repeat-x 50%; }

.b-header-top {
  display: flex;
  justify-content: space-between; }

.b-header-contact__button {
  font-size: 10px;
  font-weight: 400;
  line-height: 18.2px;
  text-transform: uppercase;
  padding: 9px 15px;
  background-color: #ecdb00;
  display: block; }

.b-navbar {
  display: flex;
  justify-content: space-between; }
