header.b-header__wrapper
	.b-header.container
		.b-header-top
			.b-header-top__logo
				img(src='images/logo.png' alt="img").b-header-top__logopix
			.b-header-top__contact.b-header-contact
				.b-header-contact__span Нужна помощь? Закажите звонок или позвоните по телефону.
				.b-header-contact__container
					.b-header-contact__button Заказать звонок
					.b-header-contact__seporator
					a(href="tel:+73452490202").b-header-contact__link +7 (3452) 49-02-02
		.b-navbar
			.b-navbar__element
				a(href="").b-navbar__link Акции 
			.b-navbar__element
				a(href="").b-navbar__link Сохранить
			.b-navbar__element
				a(href="").b-navbar__link Заработать
			.b-navbar__element
				a(href="").b-navbar__link Жить лучше
			.b-navbar__element
				a(href="").b-navbar__link Концепция 
			.b-navbar__element
				a(href="").b-navbar__link Отзывы
			.b-navbar__element
				a(href="").b-navbar__link Варианты квартир 