meta(charset="UTF-8")
meta(name='viewport', content="width=device-width, initial-scale=1.0")
//- meta(http-equiv='X-UA-Compatible', content="IE=9")
title Union

link(rel='stylesheet', href='css/bootstrap.css')
link(rel='stylesheet', href='css/style.css')




script(type='text/javascript', src='js/jquery-2.1.4.min.js')
script(type='text/javascript', src='js/site.js')



